volumes:
  postgres_data:
  pgadmin_data:
services:
  web:
    build: ./app
    env_file:
      - .env
    volumes:
      - ./app/:/app/
      - ${MEDIAFOLDER}:/app/media/
    ports:
      - 8000:8000
    depends_on:
      - db
    develop:
      watch:
        - action: sync
          path: .
          target: ./app
          ignore:
            - ./app/.venv/
        - action: rebuild
          path: ./app/uv.lock
  db:
    image: postgres:17
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${SQL_USER}
      - POSTGRES_PASSWORD=${SQL_PASSWORD}
    env_file:
      - .env
  pgadmin:
    image: dpage/pgadmin4
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "8080:80"
    env_file:
      - .env