<!DOCTYPE html>
<html lang="en">
{% load static %}

<link rel="stylesheet" href="{% static 'mactaquac/style.css' %}">

<head>
    <title>{% block title %}Mactaquac DAMS{% endblock %}</title>
</head>

<body>
    <div id="header">
        <h1>Mactaquac DAMS</h1>
        <ul id="navbar">
            <li><a href="{% url 'mactaquac:index' %}">Home</a></li>
            <li><a href="{% url 'mactaquac:mediafiles' %}">Media Files</a></li>
        </ul>
        <br>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <hr>
        <p>
            Mactaquac v. 0.1.0
        </br>
            Source code available <a href="https://github.com/sidesg/mactaquac">here</a>
        </p>
    </div>
</body>

</html>
