{% extends "mactaquac/base.html" %}
{% block title %}Mactaquac DAMS: Items{% endblock %}
{% block content %}

{% if mediafile %}

<h1>{{ mediafile.filename }} ({{ mediafile.type }} file)</h1>
<ul>
    <li>Storage location: {{ mediafile.storage_location }} (<a href="{% url 'mactaquac:download_media' mediafile.filename %}">download</a>)</li>
    <li>File created {{ mediafile.creation_date|date:"Y-m-d" }}</li>
    <li>Added to Mactaquac {{ mediafile.date_added|date:"Y-m-d" }}</li>
    {% if mediafile.date_modified %}
    <li>Last modified {{ mediafile.date_modified|date:"Y-m-d" }}</li>
    {% endif %}
</ul>

<div>
    <h2>Item information</h2>
    <ul>
        <li>Item: {{ mediafile.item.identifier }}</li>
        <li>Item title: {{ mediafile.item.title }}</li>
        <li>Collection: {{ mediafile.item.collection }}</li>
    </ul>
</div>
<div>
    <h2>Extent</h2>
    <ul>
        <li>File size (MB): {{ mediafile.filesize }}</li>
        <li>Duration: {{ mediafile.duration_min }}:{% if mediafile.duration_sec < 10 %}0{{ mediafile.duration_sec }}{% else %}{{ mediafile.duration_sec }}{% endif %}</li>
    </ul>
</div>
<div>
    <h2>Technical metadata</h2>
    <ul>
        <li>Wrapper: {{ mediafile.wrapper }}</li>
        <li>Video codec: {{ mediafile.videocodec }}</li>
        <li>Audio codec: {{ mediafile.audiocodec }}</li>
        <li>Resolution: {{ mediafile.width }} x {{ mediafile.height }}</li>
        <li>Checksum (md5): {{ mediafile.checksum }}</li>
    </ul>
</div>

{% else %}

<p>No media file to display.</p>

{% endif %}
{% endblock %}