{% extends "mactaquac/base.html" %}
{% block title %}Mactaquac DAMS: Items{% endblock %}
{% block content %}

{% if mediafile %}

<div>
    <h1>{{ mediafile.filename }} ({{ mediafile.type }} file)</h1>
    <dl>
        <dt>Storage location</dt><dd>{{ mediafile.storage_location }} (<a href="{% url 'mactaquac:download_media' mediafile.filename %}">download</a>)</dd>
        <dt>File created</dt><dd>{{ mediafile.creation_date|date:"Y-m-d" }}</dd>
        <dt>Added to Mactaquac</dt><dd>{{ mediafile.date_added|date:"Y-m-d" }}</dd>
        {% if mediafile.date_modified %}
        <dt>Last modified</dt><dd>{{ mediafile.date_modified|date:"Y-m-d" }}</dd>
        {% endif %}
    </dl>
</div>
    
{% if mediafile.type == "video" %}
<div>
    <video controls width="800">
        <source src="{% url 'mactaquac:download_media' mediafile.filename %}" type="video/mp4">
    </video>
</div>
{% endif %}

{% if mediafile.type == "audio" %}
<div>
    <audio controls src="{% url 'mactaquac:download_media' mediafile.filename %}"></audio>
</div>
{% endif %}

<div>
    <h2>Item information</h2>
    <dl>
        <dt>Item</dt><dd>{{ mediafile.item.identifier }}</dd>
        <dt>Item title</dt><dd>{{ mediafile.item.title }}</dd>
        <dt>Collection</dt><dd>{{ mediafile.item.collection }}</dd>
        <dt>Accession</dt><dd>{{ mediafile.item.accession }}</dd>
    </dl>
</div>
<div>
    <h2>Extent</h2>
    <dl>
        <dt>File size (MB)</dt><dd>{{ mediafile.filesize }}</dd>
        <dt>Duration</dt><dd>{{ mediafile.duration_min }}:{% if mediafile.duration_sec < 10 %}0{{ mediafile.duration_sec }}{% else %}{{ mediafile.duration_sec }}{% endif %}</dd>
    </dl>
</div>
<div>
    <h2>Technical metadata</h2>
    <dl>
        <dt>Wrapper</dt><dd>{{ mediafile.wrapper }}</dd>
        <dt>Video codec</dt><dd>{{ mediafile.videocodec }}</dd>
        <dt>Audio codec</dt><dd>{{ mediafile.audiocodec }}</dd>
        <dt>Resolution</dt><dd>{{ mediafile.width }} x {{ mediafile.height }}</dd>
        <dt>Checksum (md5)</dt><dd>{{ mediafile.checksum }}</dd>
    </dl>
</div>

{% else %}

<p>No media file to display.</p>

{% endif %}
{% endblock %}